<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862194568851-blbl5dhdhgdm4cmt78c96aa5gbgkm6v9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862194568851-blbl5dhdhgdm4cmt78c96aa5gbgkm6v9</string>
	<key>API_KEY</key>
	<string>AIzaSyAtw-yT0jCfoHOu_KSDhOQY7j7HqacbmxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>862194568851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blacenova.SwiftUICombineAndData</string>
	<key>PROJECT_ID</key>
	<string>swiftui-combine-1351f</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-combine-1351f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862194568851:ios:fd9980a08da4a1ad19c766</string>
</dict>
</plist>